 


div.container{
    height: 100vh;   
}

.rain{
    background-image: url('../../assets/images/rain.gif');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.stormy{
    background-image: url('../../assets/images/stormy.gif');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.night{
    background-color: black;
    color: white;
}

.day{
    background-color: aqua;
    color: black;
}

.evening{
    background-color: orange;
    color: darkgreen;
}